@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    background-color: #f1f6fc31;
}
section, footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #521908;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;

}

.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover{
    background-color: #823919 ;
}

@keyframes animate-outline {
    from{
        outline: 0px solid #823919;

    }
    to{
        outline: 15px solid #4f9bf900;
    }
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .banner-text{
    margin: 80px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1{
    font-size: 80px;
    color: white;
}

.banner .banner-text p{
    font-size: 20px;
    color: #ffff;
    font-weight: lighter;
    margin: 18px 0;

}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn)::after{
    content:"";
    background-color: #521908;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul a:hover::after{
    width: 100%;
}

nav .menu-icon{
    cursor: pointer;
    font-size: 25px;
    color: azure;
    display: none;
}

nav .close-icon{
    cursor: pointer;
    display: none;
    font-size: 30px;
    color: azure;
}


.servicos h3 {
    text-align: center;
}

.servicos .container > p{
    text-align: center;
    
}

.rows-cards-item p{
    color: antiquewhite;
}

.servicos .rows-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.servicos .rows-cards-item{
    background-color: #521908;
    width: 350px;
    padding: 20px;
    border-radius: 14px;
    margin: 20px;
    transition: 0.3s;
}

.servicos .rows-cards-item:hover{
    background-color: #823919
}

.servicos .rows-cards-item:hover p{
    color: aliceblue;
}

.servicos .rows-cards-item p.nome-servico{
    margin: 5px 0;
    transition: 0.3s;
}

.servicos .rows-cards-item p.descricao-servico{
    transition: 0.3s;
}

.servicos .rows-cards-item i{
    background-color: #823919;
    border-radius: 14px;
    width: 38px;
    padding: 9px;
    color: antiquewhite;
}

.dados{
    background-color: #521908;

}

.dados .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dados-item{
    text-align: center;
    margin: 15px;
    color: antiquewhite;
}

.dados .dados-item i{
    background-color: #823919;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}

.dados .dados-item p{
    font-size: 18px;
}

    .dados .dados-item p strong{
        font-size: 28px;
    }
   
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #b83e19;
        color: white;
        cursor: pointer;
        padding: 18px;
        border-radius: 50%;
      } 
    @media(max-width: 830px){
        .ul{
            position: fixed;
            top: 0;
            left: 0;
            background: #823919;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            clip-path: circle(0% at 100% 0);
            transition: 0.7s;
        }
    
        .ul.open{
            clip-path: circle(141.4% at 100% 0);
    
        }
    
        .ul a{
            margin: 10px 0;
            font-size: 16px;
        }
        
        nav .menu-icon{
            display: block;
    
        }
    
        nav .close-icon{
            display: block;
            position: absolute;
            top: 46px;
            right: 28px;
        }
    }
