
.item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: navbar;}
.item5{grid-area: footer;}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "header header header header header"
    "navbar navbar navbar navbar navbar"
    "menu main main main main"
    "menu main main main main"
    "footer footer footer footer footer";
    gap: 5px;
    background-color: #2196F3;
    
}

.container > div {
     background-color: rgba(216, 236, 236, 0.8);
     text-align: center;
     padding: 20px 0;
     font-size: 30px;

}
.container > div > ul{
    display: flex; 
    gap: 60px; 
    font-size: 20px;
}



