
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formulario{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#formulario header{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;  
}

#formulario header ::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #40241E;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: flex;
    /* serve para deixa um do lado do outros as box */
    flex-wrap: wrap;
    /* serve para quebra e fica um do lado do outro e alinha*/
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    margin: 0.9rem 0rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c ;
}

.input-box select{
    margin: 0.9rem 0rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c ;
}

.input-box textarea{
    margin: 0.9rem 0rem;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c ;
}

.input-box label{
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000c0;
}

.enviar-button input{
    display: flex;
    justify-content: space-between;
    border: none;
    background-color: #40241E;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

#timaps{
    margin: 0.3rem;
    padding: 0.3rem;
    display: flex;
    flex-direction:column;
}

#maps{
    margin: 2rem;
}

@media screen and (max-width: 1330px) {
   #formulario{
        width: 50%;
        margin-top: 2rem;
    }

    #timaps{
        width: 50%;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    
}
@media screen and (max-width: 805px) {
   #formulario{
        width: 50%;
        height: auto;
        
    }
    header{
        flex-direction: column;
        padding-top: 13rem;
    }
    .input-group{
        flex-direction: column;
        /* servira para deixa os itens um abaixo do outro */
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 30rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

    }
    #timaps{
        flex-direction: column;
        padding-bottom: 30rem;
        padding-top: 2rem;


    }
}

@media screen and(max-width: 2500) {
    
    #formulario{
        width: 500px;
        height: auto;
    }
    
}
